@charset "utf-8";

html {
  position: relative;
  min-height: 100%;
}

body {
  background: whitesmoke;
  margin-bottom: 60px;
}

h2 {
  text-shadow: 2px 2px 0 #DCDCDC;
}

.lead {
  text-shadow: 1px 1px 0 #DCDCDC;
}

.page-header {
  background: rgb(231, 76, 60);
  text-align: center;
  padding: 20px 0;
  color: whitesmoke;
  margin-top: 0;
  border-bottom: 2px solid rgb(192,57,43);
}

.page-header h1 {
  text-shadow: 2px 2px 0 rgb(192, 57, 43);
}

.page-header h1 small {
  color: rgb(192, 57, 43);
  display: block;
  text-shadow: none;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
}

#footer .container {
  padding: 20px 0;  
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-top: 1px solid lavender;
}


.form-control:focus {
  border-color: rgba(231, 76, 60, .4);
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(231,76,60,.2);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(231,76,60,.2);
}

.honeypot {
  position: absolute;
  left: -9999px;
}