@charset "utf-8";

.error {
  padding: 10px;
  background-color: tomato;
  border: 3px solid red;
  margin: 20px 10px;
  width: 400px;
  font-size: .8em;
  font-weight: bold;
}

.form-error {
  color: red;
}

.honeypot {
  position: absolute;
  left: -9999px;
}